/* style created by StarlitGhost, Didero, and Heufneutje */
:root {
    --bg: #FFF;
    --fg: #000;
    --row-bg-even: #DDD;
    --row-bg-odd: #EEE;
    --divider: 1px solid #000;
    --time-color: #666;
    --time-hover: #0000EE;
    --event-color: #666;
    --link: #0000EE;
    --link-visited: #551A8B;
    --link-hover: #0000EE;

    --bg0: #FFFFFF;
    --fg0: #FFFFFF;
    --bg1: #000000;
    --fg1: #000000;
    --bg2: #00007F;
    --fg2: #00007F;
    --bg3: #009300;
    --fg3: #009300;
    --bg4: #FF0000;
    --fg4: #FF0000;
    --bg5: #7F0000;
    --fg5: #7F0000;
    --bg6: #9C009C;
    --fg6: #9C009C;
    --bg7: #FC7F00;
    --fg7: #FC7F00;
    --bg8: #FFFF00;
    --fg8: #FFFF00;
    --bg9: #00FC00;
    --fg9: #00FC00;
    --bg10: #009393;
    --fg10: #009393;
    --bg11: #00FFFF;
    --fg11: #00FFFF;
    --bg12: #0000FC;
    --fg12: #0000FC;
    --bg13: #FF00FF;
    --fg13: #FF00FF;
    --bg14: #7F7F7F;
    --fg14: #7F7F7F;
    --bg15: #D2D2D2;
    --fg15: #D2D2D2;

    --nick0: hsl(0, 100%, 30%);
    --nick1: hsl(11, 100%, 30%);
    --nick2: hsl(22, 100%, 30%);
    --nick3: hsl(33, 100%, 30%);
    --nick4: hsl(45, 100%, 30%);
    --nick5: hsl(56, 100%, 30%);
    --nick6: hsl(67, 100%, 30%);
    --nick7: hsl(78, 100%, 30%);
    --nick8: hsl(90, 100%, 30%);
    --nick9: hsl(101, 100%, 30%);
    --nick10: hsl(112, 100%, 30%);
    --nick11: hsl(123, 100%, 30%);
    --nick12: hsl(135, 100%, 30%);
    --nick13: hsl(146, 100%, 30%);
    --nick14: hsl(157, 100%, 30%);
    --nick15: hsl(168, 100%, 30%);
    --nick16: hsl(180, 100%, 30%);
    --nick17: hsl(191, 100%, 30%);
    --nick18: hsl(202, 100%, 30%);
    --nick19: hsl(213, 100%, 30%);
    --nick20: hsl(225, 100%, 30%);
    --nick21: hsl(236, 100%, 30%);
    --nick22: hsl(247, 100%, 30%);
    --nick23: hsl(258, 100%, 30%);
    --nick24: hsl(270, 100%, 30%);
    --nick25: hsl(281, 100%, 30%);
    --nick26: hsl(292, 100%, 30%);
    --nick27: hsl(303, 100%, 30%);
    --nick28: hsl(315, 100%, 30%);
    --nick29: hsl(326, 100%, 30%);
    --nick30: hsl(337, 100%, 30%);
    --nick31: hsl(348, 100%, 30%);
}
:root .dark {
    --bg: #000;
    --fg: #EEE;
    --row-bg-even: #222;
    --row-bg-odd: #111;
    --divider: 1px solid #999;
    --time-color: #999;
    --time-hover: #99F;
    --event-color: #999;
    --link: #69F;
    --link-visited: #C9C;
    --link-hover: #CCF;

    --nick0: hsl(0, 100%, 70%);
    --nick1: hsl(11, 100%, 70%);
    --nick2: hsl(22, 100%, 70%);
    --nick3: hsl(33, 100%, 70%);
    --nick4: hsl(45, 100%, 70%);
    --nick5: hsl(56, 100%, 70%);
    --nick6: hsl(67, 100%, 70%);
    --nick7: hsl(78, 100%, 70%);
    --nick8: hsl(90, 100%, 70%);
    --nick9: hsl(101, 100%, 70%);
    --nick10: hsl(112, 100%, 70%);
    --nick11: hsl(123, 100%, 70%);
    --nick12: hsl(135, 100%, 70%);
    --nick13: hsl(146, 100%, 70%);
    --nick14: hsl(157, 100%, 70%);
    --nick15: hsl(168, 100%, 70%);
    --nick16: hsl(180, 100%, 70%);
    --nick17: hsl(191, 100%, 70%);
    --nick18: hsl(202, 100%, 70%);
    --nick19: hsl(213, 100%, 70%);
    --nick20: hsl(225, 100%, 70%);
    --nick21: hsl(236, 100%, 70%);
    --nick22: hsl(247, 100%, 70%);
    --nick23: hsl(258, 100%, 70%);
    --nick24: hsl(270, 100%, 70%);
    --nick25: hsl(281, 100%, 70%);
    --nick26: hsl(292, 100%, 70%);
    --nick27: hsl(303, 100%, 70%);
    --nick28: hsl(315, 100%, 70%);
    --nick29: hsl(326, 100%, 70%);
    --nick30: hsl(337, 100%, 70%);
    --nick31: hsl(348, 100%, 70%);
}

body
{
    background: var(--bg);
    color: var(--fg);
}
a {
    color: var(--link);
}
a:visited {
    color: var(--link-visited);
}
a:hover {
    color: var(--link-hover);
}
tr:nth-child(odd)
{
	background: var(--row-bg-odd);
}
tr:nth-child(even)
{
	background: var(--row-bg-even);
}
td
{
	max-width: 900px;
}

.log
{
	border-collapse: collapse;
	font-family: 'DejaVu Sans Mono', 'Consolas', 'Lucida Console', monospace;
	font-size: 14px;
    margin: auto;
}
.time {
    vertical-align: top;
}
.user
{
	font-weight: bold;
}
.message .user
{
	text-align: right;
    vertical-align: top;
	border-right: var(--divider);
	padding-right: 0.5em;
}
.spacer
{
	text-align: right;
    vertical-align: top;
	border-right: var(--divider);
	padding-right: 0.5em;
	color: var(--event-color);
}
.text
{
	word-wrap: break-word;
	padding-left: 0.5em;
}
.action .text
{
	font-style: italic;
}
.other .text
{
	color: var(--event-color);
}
td.time a:link, td.time a:visited
{
        color: var(--time-color);
        text-decoration: none;
}

td.time a:hover
{
        color: var(--time-hover);
        text-decoration: underline;
}

/* IRC colour codes */
span.bold
{
	font-weight: bold;
}
span.bg0, span.bg00
{
	background-color: var(--bg0);
}
span.fg0, span.fg00
{
	color: var(--fg0);
}
span.bg1, span.bg01
{
	background-color: var(--bg1);
}
span.fg1, span.fg01
{
	color: var(--fg1);
}
span.bg2, span.bg02
{
	background-color: var(--bg2);
}
span.fg2, span.fg02
{
	color: var(--fg2);
}
span.bg3, span.bg03
{
	background-color: var(--bg3);
}
span.fg3, span.fg03
{
	color: var(--fg3);
}
span.bg4, span.bg04
{
	background-color: var(--bg4);
}
span.fg4, span.fg04
{
	color: var(--fg4);
}
span.bg5, span.bg05
{
	background-color: var(--bg5);
}
span.fg5, span.fg05
{
	color: var(--fg5);
}
span.bg6, span.bg06
{
	background-color: var(--bg6);
}
span.fg6, span.fg06
{
	color: var(--fg6);
}
span.bg7, span.bg07
{
	background-color: var(--bg7);
}
span.fg7, span.fg07
{
	color: var(--fg7);
}
span.bg8, span.bg08
{
	background-color: var(--bg8);
}
span.fg8, span.fg08
{
	color: var(--fg8);
}
span.bg9, span.bg09
{
	background-color: var(--bg9);
}
span.fg9, span.fg09
{
	color: var(--fg9);
}
span.bg10
{
	background-color: var(--bg10);
}
span.fg10
{
	color: var(--fg10);
}
span.bg11
{
	background-color: var(--bg11);
}
span.fg11
{
	color: var(--fg11);
}
span.bg12
{
	background-color: var(--bg12);
}
span.fg12
{
	color: var(--fg12);
}
span.bg13
{
	background-color: var(--bg13);
}
span.fg13
{
	color: var(--fg13);
}
span.bg14
{
	background-color: var(--bg14);
}
span.fg14
{
	color: var(--fg14);
}
span.bg15
{
	background-color: var(--bg15);
}
span.fg15
{
	color: var(--fg15);
}

span.nick0 { color: var(--nick0); }
span.nick1 { color: var(--nick1); }
span.nick2 { color: var(--nick2); }
span.nick3 { color: var(--nick3); }
span.nick4 { color: var(--nick4); }
span.nick5 { color: var(--nick5); }
span.nick6 { color: var(--nick6); }
span.nick7 { color: var(--nick7); }
span.nick8 { color: var(--nick8); }
span.nick9 { color: var(--nick9); }
span.nick10 { color: var(--nick10); }
span.nick11 { color: var(--nick11); }
span.nick12 { color: var(--nick12); }
span.nick13 { color: var(--nick13); }
span.nick14 { color: var(--nick14); }
span.nick15 { color: var(--nick15); }
span.nick16 { color: var(--nick16); }
span.nick17 { color: var(--nick17); }
span.nick18 { color: var(--nick18); }
span.nick19 { color: var(--nick19); }
span.nick20 { color: var(--nick20); }
span.nick21 { color: var(--nick21); }
span.nick22 { color: var(--nick22); }
span.nick23 { color: var(--nick23); }
span.nick24 { color: var(--nick24); }
span.nick25 { color: var(--nick25); }
span.nick26 { color: var(--nick26); }
span.nick27 { color: var(--nick27); }
span.nick28 { color: var(--nick28); }
span.nick29 { color: var(--nick29); }
span.nick30 { color: var(--nick30); }
span.nick31 { color: var(--nick31); }
