/* style created by StarlitGhost, Didero, and Heufneutje */
:root {
    --bg: #000;
    --fg: #EEE;
    --row-bg-even: #222;
    --row-bg-odd: #111;
    --divider: 1px solid #999;
    --time-color: #999;
    --time-hover: #99F;
    --event-color: #999;
    --link: #69F;
    --link-visited: #C9C;
    --link-hover: #CCF;

    --bg0: #FFFFFF;
    --fg0: #FFFFFF;
    --bg1: #000000;
    --fg1: #000000;
    --bg2: #00007F;
    --fg2: #00007F;
    --bg3: #009300;
    --fg3: #009300;
    --bg4: #FF0000;
    --fg4: #FF0000;
    --bg5: #7F0000;
    --fg5: #7F0000;
    --bg6: #9C009C;
    --fg6: #9C009C;
    --bg7: #FC7F00;
    --fg7: #FC7F00;
    --bg8: #FFFF00;
    --fg8: #FFFF00;
    --bg9: #00FC00;
    --fg9: #00FC00;
    --bg10: #009393;
    --fg10: #009393;
    --bg11: #00FFFF;
    --fg11: #00FFFF;
    --bg12: #0000FC;
    --fg12: #0000FC;
    --bg13: #FF00FF;
    --fg13: #FF00FF;
    --bg14: #7F7F7F;
    --fg14: #7F7F7F;
    --bg15: #D2D2D2;
    --fg15: #D2D2D2;
}

body
{
    background: var(--bg);
    color: var(--fg);
}
a {
    color: var(--link);
}
a:visited {
    color: var(--link-visited);
}
a:hover {
    color: var(--link-hover);
}
tr:nth-child(odd)
{
	background: var(--row-bg-odd);
}
tr:nth-child(even)
{
	background: var(--row-bg-even);
}
td
{
	max-width: 900px;
}

.log
{
	border-collapse: collapse;
	font-family: monospace;
	font-size: 14px;
}
.user
{
	font-weight: bold;
}
.message .user
{
	text-align: right;
	border-right: var(--divider);
	padding-right: 0.5em;
}
.spacer
{
	text-align: right;
	border-right: var(--divider);
	padding-right: 0.5em;
	color: var(--event-color);
}
.text
{
	word-wrap: break-word;
	padding-left: 0.5em;
}
.action .text
{
	font-style: italic;
}
.other .text
{
	color: var(--event-color);
}
td.time a:link, td.time a:visited
{
        color: var(--time-color);
        text-decoration: none;
}

td.time a:hover
{
        color: var(--time-hover);
        text-decoration: underline;
}

/* IRC colour codes */
span.bold
{
	font-weight: bold;
}
span.bg0, span.bg00
{
	background-color: var(--bg0);
}
span.fg0, span.fg00
{
	color: var(--fg0);
}
span.bg1, span.bg01
{
	background-color: var(--bg1);
}
span.fg1, span.fg01
{
	color: var(--fg1);
}
span.bg2, span.bg02
{
	background-color: var(--bg2);
}
span.fg2, span.fg02
{
	color: var(--fg2);
}
span.bg3, span.bg03
{
	background-color: var(--bg3);
}
span.fg3, span.fg03
{
	color: var(--fg3);
}
span.bg4, span.bg04
{
	background-color: var(--bg4);
}
span.fg4, span.fg04
{
	color: var(--fg4);
}
span.bg5, span.bg05
{
	background-color: var(--bg5);
}
span.fg5, span.fg05
{
	color: var(--fg5);
}
span.bg6, span.bg06
{
	background-color: var(--bg6);
}
span.fg6, span.fg06
{
	color: var(--fg6);
}
span.bg7, span.bg07
{
	background-color: var(--bg7);
}
span.fg7, span.fg07
{
	color: var(--fg7);
}
span.bg8, span.bg08
{
	background-color: var(--bg8);
}
span.fg8, span.fg08
{
	color: var(--fg8);
}
span.bg9, span.bg09
{
	background-color: var(--bg9);
}
span.fg9, span.fg09
{
	color: var(--fg9);
}
span.bg10
{
	background-color: var(--bg10);
}
span.fg10
{
	color: var(--fg10);
}
span.bg11
{
	background-color: var(--bg11);
}
span.fg11
{
	color: var(--fg11);
}
span.bg12
{
	background-color: var(--bg12);
}
span.fg12
{
	color: var(--fg12);
}
span.bg13
{
	background-color: var(--bg13);
}
span.fg13
{
	color: var(--fg13);
}
span.bg14
{
	background-color: var(--bg14);
}
span.fg14
{
	color: var(--fg14);
}
span.bg15
{
	background-color: var(--bg15);
}
span.fg15
{
	color: var(--fg15);
}
